{
  "presets": [
    [
      "env"
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-require-ignore",
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}